extends layout

block header

block content
  body
    | Welcome here!

block scripts
    script(src="javascripts/bower_components/jquery/dist/jquery.min.js")
    script(src="javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js")
