extends layout

block header
    link(href="stylesheets/home-index.css",rel="stylesheet")

block content
  body
    div#fb-root
    div.container-fluid

      header
        h1 Socialysis

      div.col-xs-6.site-intro
        p
          | Socialysis is analytics tool to know your social connections better

      div.col-xs-6.signin
        h2 Sign In
        button.btn.btn-default#signin(type="submit") Login with Facebook


block scripts
    script(src="javascripts/bower_components/jquery/dist/jquery.min.js")
    script(src="javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="javascripts/fb.js")