extends layout

block header
    link(href="stylesheets/home-index.css",rel="stylesheet")
    link(href="stylesheets/dashboard.css",rel="stylesheet")
block content
  body

block scripts
    script(data-main='/javascripts/boot', type="text/javascript",
    src='/javascripts/bower_components/requirejs/require.js')  
