<header class="col-xs-12">
  <h1 class="pull-left">Socialysis</h1>
  <div class="pull-right">
    <form method="post" action="/logout">
      <button type="submit">Log Out</button>
    </form>
  </div>
</header>
<div class='container col-xs-12'>
  <div class="col-xs-3 left">
    <div id="user-info">
    </div>

    <div id="last-activity">
    </div>
  </div>
  <div class="col-xs-9 right">
    <div class="row dashboard-title">
      <h2> Dashboard </h2>
      <p> (Click on a chart to see some analytics)</p>
      <hr>
    </div>

    <div id="dashboard-space">
    </div>
  </div>
</div>
