<div class="row">

  <div class="col-xs-3 mask">
    <img class="img-responsive" src="/images/wordcloud-thumbnail.png" />
    <div class="caption">  
      <h3>Word Cloud</h3>  
      <p> See whats most popularly talked about with a wordcloud </p>
      <a href="#/wordcloud"></a>
    </div>
  </div>
  
  <div class="col-xs-3 mask">
    <img class="img-responsive" src="/images/empathy-thumbnail.png" />
    <div class="caption">  
      <h3>Empathy</h3>  
      <p>A music player that plays song according to your mood (based on online activity)</p>  
      <a href="#/empathy"></a>
    </div>  
  </div>
  
  <div class="col-xs-3 mask">
    <img class="img-responsive" src="/images/chart-thumbnail.gif" />
    <div class="caption">  
      <h3>Fade Caption</h3>  
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,sed diam nonummy 
        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>  
      <a href="/#here"></a>
    </div>
  </div>
  
  <div class="col-xs-3 mask">
    <img class="img-responsive" src="/images/chart-thumbnail.gif" />
    <div class="caption">  
      <h3>Fade Caption</h3>  
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,sed diam nonummy 
        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>  
      <a href="/#here"></a>
    </div>
  </div>
</div>
