/* Theme: https://kuler.adobe.com/Exciting-color-theme-1842724/ */
/* Mixins */
/* Styles */
body {
  padding: 0px;
}
header.col-xs-12 {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242d33;
  padding: 0px;
}
header.col-xs-12 h1 {
  font-size: 1.5em;
  color: #e8d8b5;
  margin: 0.5% 0.25%;
}
header.col-xs-12 div {
  margin: 0.5% 0.25%;
  line-height: 1.5em;
  font-size: 1em;
}
header a {
  color: #e8d8b5;
}
.container {
  margin-top: 2.5%;
}
.left {
  height: 100%;
  width: 24.89%;
  float: left;
  margin: 1% 0.5%;
  padding-right: 1%;
  border-right: 1px solid #242d33;
}
#dp .cover {
  width: 100%;
}
#dp .dp {
  position: relative;
  margin-top: -55%;
  left: 35%;
  width: 30%;
}
#dp img {
  width: 100%;
}
#name h3,
#name h4 {
  margin: 0px;
  text-align: center;
}
#last-activity {
  margin-top: 10%;
}
#last-activity h5 {
  border-radius: 5px;
  padding: 2%;
  background-color: #242d33;
  color: #e8d8b5;
}
#last-activity #time {
  text-align: right;
  font-style: italic;
  font-size: 0.8em;
}
.right {
  width: 74.11%;
  float: right;
}
.right h2 {
  border-radius: 5px;
  margin-top: 1.5%;
  margin-left: 0.75%;
  background-color: #242d33;
  color: #e8d8b5;
  text-align: center;
  padding: 0.5%;
}
.chart-thumbnail .caption {
  position: relative;
  left: 0;
  bottom: 60px;
  width: 100%;
  padding: 10px 20px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
}
.container .clear-fix {
  clear: both;
}
