/* Theme: https://kuler.adobe.com/Exciting-color-theme-1842724/ */
@color1: #242D33;
@color2: #576363;
@color3: #0B2229;
@color4: #E8D8B5;
@color5: #992849;

@golden1: 38.197%;
@golden2: 61.803%;


/* Mixins */
.margins() {
    margin: 1% 0.5%;
}    
.margins-head() {
    margin: 0.5% 0.25%;
}
.boxes() {
    border-radius: 5px;
}

/* Styles */
body {
     padding: 0px;
}

header.col-xs-12 {
    position: fixed;
    top: 0;
    left: 0;
    background-color: @color1;
    padding: 0px;
}

header.col-xs-12  h1 {
    font-size: 1.5em; //1em = 12pt = 16px = 100%
    color : @color4;
    .margins-head;
}

header.col-xs-12  div {
    .margins-head;
    line-height: 1.5em;
    font-size: 1em;
}

header a {
    color : @color4;
}
.container {
    margin-top: 2.5%;
}

.left {
    height: 100%;
    width: 24.89%;
    float: left;
    .margins;
    padding-right: 1%;
    border-right: 1px solid @color1;
}
//------ Display Pic ------ //
#dp {
}
#dp .cover {
    width: 100%;
}

#dp .dp {
    position: relative;
    margin-top: -55%;
    left: 35%;
    width: 30%;
}

#dp img {
    width: 100%;
}

#name h3,
#name h4 {
    margin: 0px;
    text-align: center;
}

#last-activity {
    margin-top: 10%;
}

#last-activity h5 { 
    .boxes;
    padding: 2%;
    background-color: @color1;
    color: @color4;
}

#last-activity #time{
    text-align: right;
    font-style: italic;
    font-size: 0.8em
}

.right {
    width: 74.11%;
    float: right;
}

.right h2 {
    .boxes;
    margin-top: 1.5%;
    margin-left: 0.75%;
    background-color: @color1;
    color: @color4;
    text-align: center;
    padding: 0.5%;
}

.chart-thumbnail .caption {
  position: relative;
  left: 0;
  bottom: 60px;
  width: 100%;
  padding: 10px 20px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  // filter: progid:DXImageTransform.Microsoft.gradient
  //         (startcolorstr=#7F000000,endcolorstr=#7F000000) 9;
}
.container .clear-fix {
    clear: both;
}